* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

header {
  padding-left: 20px;
  padding-top: 40px;
  border-bottom-color: hsl(0, 0%, 36%);
  border-bottom-style: solid;
  border-bottom-width: thick;
}

main {
  border-color: darkgray;
  border-style: solid;
  border-width: 80px 380px;
  padding-left: 20px;
}

strong {
  color: seagreen;
}

.indented-heading {
  background-color: gold;
  margin-left: -40px;
  border-bottom: goldenrod 4px solid;
  padding: 10px 20px;
  width: 380px;
}
.intro-chunk {
  width: 260px;
}

.title {
  font-size: 1.5rem;
}
